<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Universe Hubs</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
      id="mainNav"
    >
      <div class="container px-4">
        <a class="navbar-brand" href="#page-top">Universe Hubs</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/space-news">Articles</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#blogs-news">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#reports-news">Reports</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
      <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to Universe Hubs</h1>
        <p class="lead">
          Get the latest space exploration, innovation and astronomy news from
          differents sources. No ads.
        </p>
        <a
          class="btn btn-lg btn-light"
          id="this-week-btn"
          href="/this-week-headlines?<%= queryParams %>"
          >Fetch articles for this week!</a
        >
      </div>
    </header>

    <!-- <section class="bg-light" id="services">
      <div class="container mx-auto col-10 col-md-8 col-lg-6">
        <form class="row g-3" method="GET" action="/space-news">
          <div class="col-md-6">
            <label for="title_contains" class="form-label"
              >Search by Title:</label
            >
            <input
              type="text"
              placeholder="Search Articles: ..."
              class="form-control"
              id="title_contains"
              name="title_contains"
            />
          </div>
          <div class="col-12"></div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
    </section> -->
    <section>
      <!-- Page content-->
      <div class="container">
        <div class="row">
          <!-- Blog entries-->
          <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
              <% let firstArticle = spaceNews[0]; %>
              <a href="#!"
                ><img
                  class="card-img-top"
                  src="<%= firstArticle.image_url %>"
                  alt="..."
              /></a>
              <div class="card-body">
                <div class="small text-muted">
                  '<%= firstArticle.published_at %>'
                </div>
                <h2 class="card-title">'<%= firstArticle.title %>'</h2>
                <p class="card-text">'<%= firstArticle.summary %>'</p>
                <a class="btn btn-primary" href="<%= firstArticle.url %>"
                  >Read more →</a
                >
              </div>
            </div>
            <!-- Nested row for older post from the same day-->
            <% if (Object.keys(spaceNews).length > 1) { %>
            <div class="row">
              <% Object.entries(spaceNews).slice(1).forEach(([key, article]) =>
              { %>
              <div class="col-md-6 mb-4">
                <div class="card h-100">
                  <div
                    class="card-img-container"
                    style="height: 200px; overflow: hidden"
                  >
                    <a href="#!"
                      ><img
                        class="card-img-top h-100"
                        src="<%= article.image_url%>"
                        alt="..."
                    /></a>
                  </div>
                  <div class="card-body d-flex flex-column">
                    <div class="small text-muted">
                      <%= article.published_at %>
                    </div>
                    <h2 class="card-title h4"><%= article.title %></h2>
                    <p class="card-text flex-grow-1"><%= article.summary %></p>
                    <a class="btn btn-primary" href="<%= article.url %>"
                      >Read more →</a
                    >
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
            <% } %>

            <!-- Pagination-->
            <nav aria-label="Pagination">
              <hr class="my-0" />
              <ul class="pagination justify-content-center my-4">
                <li class="page-item disabled">
                  <a
                    class="page-link"
                    href="#"
                    tabindex="-1"
                    aria-disabled="true"
                    >Newer</a
                  >
                </li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#!">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                <li class="page-item disabled">
                  <a class="page-link" href="#!">...</a>
                </li>
                <li class="page-item"><a class="page-link" href="#!">15</a></li>
                <li class="page-item">
                  <a class="page-link" href="#!">Older</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- Side widgets-->
          <div class="col-lg-4">
            <!-- Search widget-->
            <form class="card mb-4" method="GET" action="/space-news">
              <div class="card-header">Search</div>
              <div class="card-body">
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Enter search term..."
                    aria-label="Enter search term..."
                    aria-describedby="button-search"
                    id="title_contains"
                    name="title_contains"
                  />
                  <button
                    class="btn btn-primary"
                    id="button-search"
                    type="submit"
                  >
                    Go!
                  </button>
                </div>
              </div>
            </form>
            <!-- Categories widget-->
            <!-- <div class="card mb-4">
              <div class="card-header">Categories</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                      <li><a href="#!">Web Design</a></li>
                      <li><a href="#!">HTML</a></li>
                      <li><a href="#!">Freebies</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                      <li><a href="#!">JavaScript</a></li>
                      <li><a href="#!">CSS</a></li>
                      <li><a href="#!">Tutorials</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- Side widget-->
            <div class="card mb-4">
              <div class="card-header">Side Widget</div>
              <div class="card-body">
                You can put anything you want inside of these side widgets. They
                are easy to use, and feature the Bootstrap 5 card component!
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <p class="m-0 text-center text-white">
          Copyright &copy; Universe Hubs 2023
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
